<template name="friendList">
  <div class="list-group">
    <div class="row">
      <div class="col-sm-4">

        {{#if showFriends}}
          {{#each friends}}
            {{> friendItem}}
          {{/each}}
        {{/if}}

        {{#if invitationCount}}
          {{#if showInvites}}
            <a href="#" class="list-group-item-heading">
              <div class="row">
                <div class="col-sm-4">
                  <p>Invitations</p>
                </div>
              </div>
            </a>
            {{#each friendInvitations}}
              {{> friendItem}}
            {{/each}}
          {{/if}}
        {{/if}}

      </div>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
</template>
