<template name="friendItem">
  <a href="#" class="list-group-item">
    <div class="row">
      <div class="col-sm-1">
        <img class="pull-left img-rounded" height=50 width=50 src="{{image}}" />
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <h4 class="list-group-item-heading">{{friendName}}</h4>
        <p class="list-group-item-text">{{emailAddress}}</p>
        <p class="list-group-item-text">{{friendSince}}</p>
      </div>
      <a class="btn btn-primary btn-xs glyphicon glyphicon-envelope {{isDeleteFocus 'x'}}"> </a>
      <a class="btn btn-primary btn-xs glyphicon glyphicon-pencil {{isDeleteFocus 'x'}}"> </a>

      <a class="deleteX btn btn-danger btn-xs glyphicon glyphicon-remove  {{isDeleteFocus 'x'}}"> </a>
      <a class="deleteButton btn btn-danger btn-xs glyphicon glyphicon-remove {{isDeleteFocus 'button'}}"></a>
      <a class="cancelButton btn btn-success btn-xs {{isDeleteFocus 'button'}}">Cancel</a>

    </div>
  </a>
</template>
