<template name="friendAdd">
  <form class="main form page">
    <div class="form-group {{missingEmail}}">
      <label class="control-label {{missingEmail}}" for="emailAddress">Email Address</label>
      <div class="controls">
          <input name="emailAddress" id="emailAddress" type="text" value="{{emailAddress}}" placeholder="friend@email.com" class="form-control"/>
      </div>
    </div>

    <div class="form-group {{missingMessage}}">
      <label class="control-label" for="invitation">Invitation Message</label>
      <div class="controls">
          <input name="invitation" id="invitation" type="text" value="{{invitation}}" placeholder="Please join me on GlobeTrippers" class="form-control"/>
      </div>
    </div>
    <br/>
    <input type="submit" value="Invite" class="btn btn-primary submit" />
  </form>
</template>
