<template name="tripDetails">
    <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>{{destinationCity}}</h1>
        <h4>{{startDate}} - {{endDate}}</h4>
        <p>{{tripDescription}}</p>

        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Accommodation</a></li>
            <li role="presentation"><a href="#">Activities</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-primary">
          <div class="panel-heading">Accommodation</div>
          <div class="panel-body">body</div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="panel panel-primary">
          <div class="panel-heading">Activities</div>
          <div class="panel-body">body</div>
        </div>

      </div>
    </div>
  </div>
</template>
