<template name="tripItemCard">
  <!--
    using a new version with Semantic UI
  -->

  <div class="ui shape">
  <div class="sides">
    <div class="active side">
      <div class="content">
      <div class="ui card">
        <div class="image">
          <img src="{{image}}">
        </div>
        <div class="content">
          <a class="header">{{destinationCity}}</a>
          <div class="meta">
            <span class="date">{{startDate}} - {{endDate}}</span>
          </div>
          <div class="panel-body description">
              {{tripDescription}}
          </div>
        </div>
        <div class="extra content">
          <a>
            <a href="{{pathFor 'tripEdit'}}" class="pull-right btn btn-xs btn-primary glyphicon glyphicon-pencil"></a>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="sides">
    <div class="side">
      <div class="content">
      <div class="ui card">
      <div class="image">
        <img src="{{image}}">
      </div>
      <div class="content">
        <a class="header">{{destinationCity}}</a>
        <div class="meta">
          <span class="date">{{startDate}} - {{endDate}}</span>
        </div>
        <div class="panel-body description">
            {{tripDescription}}
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>

  </div>

</template>
